---
import Layout from "../../layouts/Layout.astro";
import { contentfulClient } from "../../lib/contentful";
import HTMLTextRenderer from "../../components/sections/HTMLTextRenderer";
import AuthorCard from "@/components/cards/AuthorCard";
import type { Blog } from "@/types/Blog";
export async function getStaticPaths() {
  const blogs = await contentfulClient.getEntries({
    content_type: "blogPage",
  });

  const items = blogs.items.map((item) => {
    return {
      params: {
        blogId: item.sys.id,
      },
    };
  });

  return items;
}

const { blogId } = Astro.params;

const blog: Blog = await contentfulClient.getEntry(blogId as string);
const author = blog.fields.author;
const createdAt = blog.sys.createdAt;
const readTimeAsMinutes = blog.fields.readTimeAsMinutes;
const readCount = blog.fields.readCount;
---

<Layout title="Yazarlar" pathname="/yazarlar">
  <main class="w-full gap-12 py-12 px-6 md:px-6 lg:px-12 xl:px-24">
    <div class="relative isolate overflow-hidde lg:overflow-visible lg:px-0">
      <div
        class="mx-auto grid max-w-2xl grid-cols-1 gap-x-4 gap-y-4 xl:gap-x-8 xl:gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10"
      >
        <div
          class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8"
        >
          <div class="lg:pr-4">
            <div class="w-full">
              <h1
                class="mt-2 mb-8 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
              >
                {blog.fields.title}
              </h1>
              <HTMLTextRenderer
                content={blog.fields.content}
                blogId={blogId as string}
                readCount={readCount}
                client:load
              />
            </div>
          </div>
        </div>
        <div
          class="lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden"
        >
          <img
            class="w-full max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10"
            src={blog.fields.image.fields.file.url}
            alt=""
          />
        </div>
        <div
          class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8"
        >
          <div class="relative mt-8 flex items-center gap-x-4">
            <img
              src={author.fields!.image!.fields!.file!.url as string}
              alt={author.fields!.image!.fields!.description as string}
              class="h-10 w-10 rounded-full bg-gray-100 object-cover"
            />
            <div class="text-sm leading-6">
              <p class="font-semibold text-gray-900">
                <a href={`/yazarlar/${author.sys.id}`}>
                  <span class="absolute inset-0"></span>
                  {author.fields.name}
                </a>
              </p>
              <div class="flex gap-8">
                <time dateTime={createdAt} class="text-gray-500">
                  {
                    new Date(createdAt).toLocaleDateString("tr-TR", {
                      year: "numeric",
                      month: "long",
                      day: "numeric",
                    })
                  }
                </time>
                <p class="text-gray-600">{readTimeAsMinutes} dk.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
